.navbar {
    background-color: #85de63;
}
.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .nav-link {
    color: #000000 !important;
    text-decoration: none !important;
    margin-right: 20px;
}

@media (max-width: 576px) {
    .navbar .nav-link {
        margin-right: 0;
    }
}